<nav class="dashboard-nav">
    <div class="">
        <div class="brand">Admin</div>
        <div class="menu-sm"><menu type="toolbar">Menu</menu></div>
    </div>

    <div class="user-profile">
      <div>Hi <%= username %></div>
      <img src="" alt="" class="profile-img">
    </div>
</nav>

