<div class="aside-nav">
    <ul>
      <li><span>Home</span> <i class="fa fa-home" aria-hidden="true"></i></li>
      <li><span>Profiles</span> <i class="fa fa-profile" aria-hidden="true"></i></li>
      <li><span>Messages</span> <i class="fa fa-messages" aria-hidden="true"></i></li>
      <li><span>Workspace</span> <i class="fa fa-office" aria-hidden="true"></i></li>
      <li><span>Settings</span> <i class="fa fa-settings" aria-hidden="true"></i></li>
    </ul>
</div>

<style scoped>
  .aside-nav {
      visibility: visible;
      color: white;
      font-size: 1.2rem;
      width: 5%;
      height: 100vh;
      background-color: rgb(39, 118, 236);
      float: left;
      position: fixed;
      bottom: 0px;

      @media (max-width: 425px) {

      }

    }
</style>