<div class="aside-nav">
    <ul class="list-unstyled m-3">
      <li><a class="text-white text-decoration-none" href="/"><span>Home</span> <i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class="">
        <a class="text-white text-decoration-none" href="/profiles">
        <span>Profiles</span><i class="fa fa-profile" aria-hidden="true"></i></a>
  
      </li>
        <li><a class="text-white text-decoration-none" href=""><span>ATS</span><i class="fa fa-office" aria-hidden="true"></i></a></li>
      <li><a class="text-white text-decoration-none" href=""><span>T-news</span><i class="fa fa-office" aria-hidden="true"></i></a></li>
      <li><a class="text-white text-decoration-none" href=""><span>Calender</span><i class="fa fa-office" aria-hidden="true"></i></a></li>
      <li><a class="text-white text-decoration-none" href=""><span>Settings</span> <i class="fa fa-settings" aria-hidden="true"></i></a></li>
    </ul>
</div>

<style scoped>
  .aside-nav {
      visibility: visible;
      color: white;
      font-size: 1.2rem;
      width: 10%;
      height: 92.7vh;
      background-color: rgb(39, 118, 236);
      float: left;
      position: fixed;
      bottom: 0px;

      @media (max-width: 575px) {
        visibility: hidden;
      }

    }
</style>