.about_me_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.about_me_coontent {
    display: flex;
    flex-direction: column;
    width: 85vw;
}