* {
  font-size: calc(10px + 2vmin);
  color: white;
  /* color: green; */
  /* background-color: rgb(20, 19, 19); */
  /*background-color: rgba*/
  
  text-align:justify;

}

#aboutP, #projectP, #contactP {
  min-height: 7vh;
}
.card-link {
  color: white;
} 
.navbar-toggler {
  background-color: white;
}