* {
  font-size: calc(10px + 2vmin);
  /*color: rgb(7, 238, 7);*/
  /* color: green; */
  /*Potential colors background-color: rgba(132,131,127,255);*/
  /*background-color: rgba*/
  
  text-align:justify;

}
body {

}
#aboutP, #projectP, #contactP {
  min-height: 7vh;
} 