.contact_div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
/* 1.1 START*/
.form_div form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.client_info {
    background-color: antiquewhite;
    color: #000;
    width: 30vw;
    border-style: double;
    margin-bottom: 10px;
    border-radius: 8px;
    border-color:  rgb(7, 238, 7);
    /* Don'nt need height here */
}
.text_area_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
}
.textarea {
    width: 80%;
    height: 300px;
    border-style: double;
    background-color: antiquewhite;
    color: #000;
    border-color:  rgb(7, 238, 7);
    border-radius: 8px;
    margin-top: 10px;
    border-style: double;
    resize: none;
    overflow-y: hidden;

}
.client_info:hover, .textarea:hover {
    transition: ease-in-out 1s;
    box-shadow: 0 0 5px rgb(7, 238, 7);
}
.btn_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100px;
}
.submit_textarea {
    /* testing bacgkround but latter goiong to change it */
    background-color: green;
    color: white;
    border-radius: 8px;
    border-style: none;
    text-align: center;
    width: 100px;
    height: 50px;

}
/* 1.1  END*/
/* 1.2  START*/
.social_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.social_div_label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.label {
    font-weight: 100;
}
.social_links_div {
    display: flex;
    justify-content: space-around;
}
.social_links_div div {
    margin: 10px;
}
.social_links_div div a {
    text-decoration: none;
}
.social_links_div div a:hover {
    transition: all 1s;
}
.social_links_div div img {
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
}
.social_links_div div img:hover {
    width: 58px;
    height: 58px;
    transition: .5s;
}
/* 1.2 END */