<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Admin </title>
</head>
<body>
    <div class="log-in-div">
        <form action="/login" method="post" class="log-in-form">
            <h1>Admin</h1>
            <%= error ? error : '' %>
            <legend class="input-legend">
                <input type="text" name="username" id="username" placeholder="Admin username" class="log-in-input">
                <input type="password" name="passkey" id="passkey" placeholder="passkey"  class="log-in-input">
            </legend>
            <button type="submit" class="btn">Log in</button>
        </form>
    </div>
</body>
<style scoped>
        * {
        padding: 0px;
        margin: 0px;
    }
    body {

        width: 100vw;
        height: 80vh;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(20, 19, 19);

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /*  */
    .log-in-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        height: 50vh;
        color: white;
        font-size: 1.5em;
        border: solid;
        border-color: white;
        border-width: 2px;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;

        border-width: 2px;
        border-radius: 10px;
        box-shadow: 10px 10px 50px rgb(39, 118, 236);
    }
    /* log-in-div */

    .input-legend {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 5px;
    }
    .log-in-input {
        width: 400px;
        height: 50px;
        font-size: 1.5rem;
        text-indent: 10px;
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgb(39, 118, 236);
    }
    .btn {
        color: white;
        font-size: 1em;
        background-color: rgb(9, 75, 216);
        border: solid;
        border-color: white;
        border-width: 2px;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        width: 40%;
        text-decoration: none;
    }

    .btn:hover, .log-in-input:hover {
        border-width: 2px;
        border-radius: 10px;
        box-shadow: 15px 15px 50px rgb(39, 118, 236);
        transition: all ease-in .5s;
    }
    @media (max-width: 768px) {

        .log-in-input {
            width: 80vw;
            height: 50px;
            font-size: 1.5rem;
        }
        .btn {
            color: white;
            font-size: 1em;
            background-color: rgb(9, 75, 216);
            border: solid;
            border-color: white;
            border-width: 2px;
            border-radius: 10px;
            padding: 5px 15px 5px 15px;
            width: 70%;
        }
    }
</style>
</html>